body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1.titulo{
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color:white;
    margin-bottom: 40px;
}

.btn:hover{
    background-color: #0056b3;
}

h2{
    color: #333;
    margin-bottom: 20px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card{
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 50px 80px;
    width: 600px;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.status-online{
    color: #28a745;
    font-weight: bold;
}

.status-offline{
    color: #dc3545;
    font-weight: bold;
}

.termometro-container{
     width: 80px;
    height: 280px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 

}
.termometro-bg{
    position: relative;
    width: 35px;
    height: 70%; 
    border-radius: 18px;
    background-color: #e5e7eb;
    overflow: hidden;
    display: flex;
    border: 2px solid #ccc;
}

.termometro-lado{
    display: flex; 
    flex-direction: row;
    justify-content: center; 
    gap: 80px; 
    align-items: flex-start; 
    margin-top: 20px;
    width: 100%;
}

.termometro-fill{
    position: absolute;
    bottom:0; 
    width: 100%;
    height: 0; 
    background-color: #00bfff;
    border-radius: 15px 15px 0 0;
    transition: height 0.5s ease-in-out;
}

.termometro-label{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}


#alerta{
    display: none;
    background-color: #fbbf24;
    width: 80%;
    margin: 25px auto 0 auto;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-align: center;
   
}

.temperatura-label{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.temperatura-fill{
    position: absolute;
    bottom:0; 
    width: 100%;
    height: 0; 
    background-color: #00bfff;
    border-radius: 15px 15px 0 0;
}

.temperatura-bg{
     position: relative;
    width: 35px;
    height: 70%; 
    border-radius: 18px;
    background-color: #e5e7eb;
    overflow: hidden;
    display: flex;
    border: 2px solid #ccc;
}

.temperatura-container{
    width: 80px;
    height: 280px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 

}

.umidade-label{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.umidade-fill{
      position: absolute;
    bottom:0; 
    width: 100%;
    height: 0; 
    background-color: #00bfff; 
    border-radius: 15px 15px 0 0;
}

.umidade-bg{
     position: relative;
    width: 35px;
    height: 70%; 
    border-radius: 18px;
    background-color: #e5e7eb;
    overflow: hidden;
    display: flex;
    border: 2px solid #ccc;
}

.umidade-container{
    width: 80px;
    height: 280px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between; 


}

.overlay{
    position: fixed;
    top:0; left:0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index:9999;
}

.config-box{
    background: white;padding: 20px;
    border-radius: 10px;
    text-align: center;
}
